* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #0a1f44, #102f6b);
}

/* CONTAINER UTAMA */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ===== NAVBAR ===== */
.container-navbar {
  background: rgba(0, 0, 0, 0.3);
  padding: 15px 0;
}

.ul-navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 40px;
}

.a-navbar {
  color: #e5e7eb;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}

.a-navbar:hover{
  color: #6ea8ff;
  border-bottom: 2px solid #6ea8ff ;
}
.a-navbar.active{
  color: #6ea8ff;
  border-bottom:2px solid #6ea8ff;
}
.anavbar:not(.active):hover{
  color: #e5e7eb;
  border-bottom: 2px solid #6ea8ff;
}
/* ===== CONTENT ===== */
.container-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  transition: 0.3s;
}

/* CARD */
.a-content , .b-content {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
  transform: scale(1);
  transition: 0.3s ease;
}
.a-content:hover, .b-content:hover{
  transform: scale(1.05);
  cursor: pointer;
}


.img-content {
  width: 220px;
  margin-bottom: 15px;
}

.a-content:hover .img-content,
.b-content:hover .img-content {
  transform: scale(1.05);
}

.a-content p {
  font-size: 18px;
  font-weight: bold;
  color: #0a1f44;
}

.b-content p {
  font-size: 18px;
  font-weight: bold;
  color: #0a1f44;
}

/* ===== FOOTER ===== */
.container-footer {
  background: rgba(0, 0, 0, 0.35);
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.h1-footer {
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}