/* ===== FIX FULL BACKGROUND ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAKSA HTML & BODY FULL */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #0a1f44, #102f6b);
}

/* CONTAINER UTAMA */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ===== NAVBAR ===== */
.container-navbar {
  background: rgba(0, 0, 0, 0.3);
  padding: 15px 0;
}

.ul-navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 40px;
}

.a-navbar {
  color: #e5e7eb;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}
.a-navbar:hover{
  color: #6ea8ff;
  border-bottom: 2px solid #6ea8ff;
}

.a-navbar.active {
  color: #6ea8ff;
  border-bottom: 2px solid #6ea8ff;
}

.a-navbar:not(.active):hover{
  color: #6ea8ff;
  border-bottom: 2px solid #6ea8ff;
}
/* ===== CONTENT ===== */
.container-content {
  flex: 1; /* INI KUNCI */
  display: flex;
 padding: 50px 20px;
  align-items: center;
}

/* ===== ABOUT ME GRID ===== */
.about-title {
  color: white;
  font-size: 32px;
  margin-bottom: 40px;
}

/* GRID */
.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 900px;
  margin: auto;
}

/* CARD */
.about-card {
  position: relative;
  background: white;
  padding: 25px;
  display: flex ;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
  gap: 30px;
  transition: 0.3s;
}
.about-card:hover {
  transform: scale(1.05);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.about-card:hover img {
  transform: scale(1.05);
}


.about-card img {
  width: 125Px;
  height: 125px;
}

.about-card p {
  font-size: 16px;
  font-weight: bold;
  color: #0a1f44;
}

/* CARD */
.a-content {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.img-content {
  width: 220px;
  margin-bottom: 15px;
}

.a-content p {
  font-size: 18px;
  font-weight: bold;
  color: #0a1f44;
}

/* ===== FOOTER ===== */
.container-footer {
  background: rgba(0, 0, 0, 0.35);
  padding: 20px;
  text-align: center;
}

.h1-footer {
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
}